@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500;600&display=swap");

@import "tailwindcss";

@theme {
  --color-danger-0: #c10007;

  --color-text-0: #5a6478;
  --color-text-1: #0f1623;

  --color-neutral-0: #eef1f7;
  --color-neutral-1: #d4dae8;
  --color-neutral-2: #f8f9fc;
  --color-neutral-3: #d4dae8;

  --color-accent-0: #2563eb;
  --color-accent-1: #1b5be8;

  --color-border-0: #d4dae8;

  --font-serif: "DM Serif Display", sans-serif;
  --font-sans: "DM Sans", sans-serif;
}

@utility text-field {
  @apply w-full border bg-neutral-0 border-neutral-3 px-3 py-2 rounded-xl focus:outline-none focus:border-accent-0;
}

@utility card-body {
  @apply px-6 py-4;
}
